@using Microsoft.AspNet.Identity
@using StackExchange.Profiling;
<!DOCTYPE html>

<html ng-app="allevaApp" >
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="~/Images/icon.png">
    <title>@ViewBag.Title</title>

    <!--Load CSS-->

    @Styles.Render("~/Content/animate")
    @Styles.Render("~/Content/css")
    @Styles.Render("~/FontAwesome/css")
    @Styles.Render("~/Content/bootstrapmin")
    @*@Styles.Render("~/Content/mCustomScrollbar")*@
    @Styles.Render("~/Content/selectric")
    @Styles.Render("~/Content/master")
    @Styles.Render("~/Content/media")
    @Styles.Render("~/Content/media-sud")

    <!--[if lt IE 9]>
     <script type="text/javascript" src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
     <![endif]-->
    <!--[if IE]>
     <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <![endif]-->
    <!--[if lte IE 7]> <html class="ie7"> <![endif]-->
    <!--[if IE 8]> <html class="ie8"> <![endif]-->
    <!--[if IE 9]> <html class="ie9"> <![endif]-->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body ng-controller="layoutController" ng-init="fnLoadMenus()">
    <!--Load Scripts-->
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/common");
    @Scripts.Render("~/bundles/referal_manage");
    @*@Scripts.Render("~/bundles/mCustomScrollbarJs")*@
    @Scripts.Render("~/bundles/easyResponsiveTabs")
    @Scripts.Render("~/bundles/selectricJS")
    @Scripts.Render("~/bundles/allevaLayout")
    @Scripts.Render("~/bundles/tutorial")
    @Scripts.Render("~/bundles/angularJs")
    <script src="~/Scripts/pageScripts/Global/layoutController.js"></script>
    @RenderSection("scripts", required: false)
    @MiniProfiler.RenderIncludes()
    <!--Header Section Starts-->
    <header class="navbar-fixed-top">
        <div class="nav-togle-btn">
            <i class="fa fa-bars"></i>
        </div>
        <div class="container-fluid">
@if (Request.IsAuthenticated)
{
            <div class="row">
                <div class="col-lg-5 col-md-3 col-sm-2 col-xs-12">
                    <h1 class="logo"><a href="#"></a></h1>
                </div>

                <div class="col-lg-7 col-md-9 col-sm-10 col-xs-12">
                    <div class="topright-nav username-ryt">

                        <div class="username-ryt-left">
                            <img src="~/Images/user.jpg">
                        </div>

                        @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
                        {
                            @Html.AntiForgeryToken()
                        <div class="username-ryt-right dropdown">
                            <h6>@User.Identity.GetUserName()</h6>


                            <button class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                <span><font>Administrator</font> <i class="fa fa-angle-down" aria-hidden="true"></i></span>
                            </button>



                            <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel" data-dropdown-out="bounceOut" data-dropdown-in="bounceIn">
                                <li>
                                    <a href="#">My Profile</a>
                                </li>
                                <li>
                                    <a href="#">My Appointment <font>12</font></a>
                                </li>

                                <li class="linebrdr">
                                    <div class="linesolid"></div>
                                </li>

                                <li>
                                    <a href="#"> <i class="fa fa-lock" aria-hidden="true"></i> Lock</a>
                                </li>
                                <li>
                                    @*<a href="javascript:document.getElementById('logoutForm').submit()">Log off</a>*@
                                    <a href="javascript:document.getElementById('logoutForm').submit()"> <i class="fa fa-power-off" aria-hidden="true"></i> Logout</a>
                                </li>
                            </ul>
                        </div>
                        }
                    </div>
                   
                    <div class="msgandnotfctn">
                        <div class="dropdown friend-request-dropdown  country-notifctns dropdown">
                            <button id="dLabel1" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" onClick="funNotificationSideMenu('dLabel1')">
                                <i class="fa fa-bell-o"></i>
                                <span class="count_notifications">2</span>
                            </button>

                            <div class="dropdown-menu" role="menu" aria-labelledby="dLabel1" id="notification_msg" data-dropdown-out="flipOutX" data-dropdown-in="slideInRight">
                                <ul class="tabs tabs-basic">
                                    <li id="divBell" class="_notificationTab"><a href="#div1"><i class="fa fa-bell-o" aria-hidden="true"></i></a></li>
                                    <li id="divMsg" class="_notificationTab"><a href="#div2"><i class="fa fa-envelope-o" aria-hidden="true"></i></a></li>
                                    <li><a href="#div3" class="_notificationTab"><i class="fa fa-gear" aria-hidden="true"></i></a></li>
                                </ul>

                                <div class="content_outer scroll">
                                    <div id="div1" class="content">
                                        <ul>
                                            <li>
                                                <div class="messagestop-lt">
                                                    <h6>Joe </h6>
                                                    <p>Adding new layout to desing...</p>
                                                </div>

                                                <div class="messagestop-rt">
                                                    <img src="~/Images/user.jpg">
                                                    <div class="fullmailrply">
                                                        <a href="#"><i class="fa fa-mail-reply" aria-hidden="true"></i></a>
                                                        <span>2 hrs ago</span>
                                                    </div>


                                                </div>
                                            </li>

                                            <li>
                                                <div class="messagestop-lt">
                                                    <h6>Joe </h6>
                                                    <p>Adding new layout to desing...</p>
                                                </div>

                                                <div class="messagestop-rt">
                                                    <img src="~/Images/user.jpg">
                                                    <div class="fullmailrply">
                                                        <a href="#"><i class="fa fa-mail-reply" aria-hidden="true"></i></a>
                                                        <span>2 hrs ago</span>
                                                    </div>


                                                </div>
                                            </li>

                                            <li>
                                                <div class="messagestop-lt">
                                                    <h6>Joe </h6>
                                                    <p>Adding new layout to desing...</p>
                                                </div>

                                                <div class="messagestop-rt">
                                                    <img src="~/Images/user.jpg">
                                                    <div class="fullmailrply">
                                                        <a href="#"><i class="fa fa-mail-reply" aria-hidden="true"></i></a>
                                                        <span>2 hrs ago</span>
                                                    </div>


                                                </div>
                                            </li>

                                            <li>
                                                <div class="messagestop-lt">
                                                    <h6>Joe </h6>
                                                    <p>Adding new layout to desing...</p>
                                                </div>

                                                <div class="messagestop-rt">
                                                    <img src="~/Images/user.jpg">
                                                    <div class="fullmailrply">
                                                        <a href="#"><i class="fa fa-mail-reply" aria-hidden="true"></i></a>
                                                        <span>2 hrs ago</span>
                                                    </div>


                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                    <div id="div2" class="content">
                                        <ul>
                                            <li>
                                                <div class="messagestop-lt">
                                                    <h6>Joe </h6>
                                                    <p>Adding new layout to desing...</p>
                                                </div>

                                                <div class="messagestop-rt">
                                                    <img src="~/Images/user.jpg">
                                                    <div class="fullmailrply">
                                                        <a href="#"><i class="fa fa-mail-reply" aria-hidden="true"></i></a>
                                                        <span>2 hrs ago</span>
                                                    </div>


                                                </div>
                                            </li>

                                            <li>
                                                <div class="messagestop-lt">
                                                    <h6>Joe </h6>
                                                    <p>Adding new layout to desing...</p>
                                                </div>

                                                <div class="messagestop-rt">
                                                    <img src="~/Images/user.jpg">
                                                    <div class="fullmailrply">
                                                        <a href="#"><i class="fa fa-mail-reply" aria-hidden="true"></i></a>
                                                        <span>2 hrs ago</span>
                                                    </div>


                                                </div>
                                            </li>

                                            <li>
                                                <div class="messagestop-lt">
                                                    <h6>Joe </h6>
                                                    <p>Adding new layout to desing...</p>
                                                </div>

                                                <div class="messagestop-rt">
                                                    <img src="~/Images/user.jpg">
                                                    <div class="fullmailrply">
                                                        <a href="#"><i class="fa fa-mail-reply" aria-hidden="true"></i></a>
                                                        <span>2 hrs ago</span>
                                                    </div>


                                                </div>
                                            </li>

                                            <li>
                                                <div class="messagestop-lt">
                                                    <h6>Joe </h6>
                                                    <p>Adding new layout to desing...</p>
                                                </div>

                                                <div class="messagestop-rt">
                                                    <img src="~/Images/user.jpg">
                                                    <div class="fullmailrply">
                                                        <a href="#"><i class="fa fa-mail-reply" aria-hidden="true"></i></a>
                                                        <span>2 hrs ago</span>
                                                    </div>


                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                    <div id="div3" class="content">
                                        <ul>
                                            <li>
                                                <div class="messagestop-lt">
                                                    <h6>Joe </h6>
                                                    <p>Adding new layout to desing...</p>
                                                </div>

                                                <div class="messagestop-rt">
                                                    <img src="~/Images/user.jpg">
                                                    <div class="fullmailrply">
                                                        <a href="#"><i class="fa fa-mail-reply" aria-hidden="true"></i></a>
                                                        <span>2 hrs ago</span>
                                                    </div>


                                                </div>
                                            </li>

                                            <li>
                                                <div class="messagestop-lt">
                                                    <h6>Joe </h6>
                                                    <p>Adding new layout to desing...</p>
                                                </div>

                                                <div class="messagestop-rt">
                                                    <img src="~/Images/user.jpg">
                                                    <div class="fullmailrply">
                                                        <a href="#"><i class="fa fa-mail-reply" aria-hidden="true"></i></a>
                                                        <span>2 hrs ago</span>
                                                    </div>


                                                </div>
                                            </li>

                                            <li>
                                                <div class="messagestop-lt">
                                                    <h6>Joe </h6>
                                                    <p>Adding new layout to desing...</p>
                                                </div>

                                                <div class="messagestop-rt">
                                                    <img src="~/Images/user.jpg">
                                                    <div class="fullmailrply">
                                                        <a href="#"><i class="fa fa-mail-reply" aria-hidden="true"></i></a>
                                                        <span>2 hrs ago</span>
                                                    </div>


                                                </div>
                                            </li>

                                            <li>
                                                <div class="messagestop-lt">
                                                    <h6>Joe </h6>
                                                    <p>Adding new layout to desing...</p>
                                                </div>

                                                <div class="messagestop-rt">
                                                    <img src="~/Images/user.jpg">
                                                    <div class="fullmailrply">
                                                        <a href="#"><i class="fa fa-mail-reply" aria-hidden="true"></i></a>
                                                        <span>2 hrs ago</span>
                                                    </div>


                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="dropdown friend-request-dropdown country-notifctns dropdown">
                            <button id="dLabel2" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" onClick="funNotificationSideMenu('dLabel2')">
                                <i class="fa fa-envelope-o"></i>
                                <span class="count_notifications">2</span>
                            </button>

                            <div class="dropdown-menu" role="menu" aria-labelledby="dLabel2" id="notification_msg1" data-dropdown-out="flipOutX" data-dropdown-in="slideInRight">
                                <ul class="tabs tabs-basic">
                                    <li id="divBell" class="_notificationTab"><a href="#div4"><i class="fa fa-bell-o" aria-hidden="true"></i></a></li>
                                    <li id="divMsg" class="_notificationTab"><a href="#div5"><i class="fa fa-envelope-o" aria-hidden="true"></i></a></li>
                                    <li><a href="#div6" class="_notificationTab"><i class="fa fa-gear" aria-hidden="true"></i></a></li>
                                </ul>

                                <div class="content_outer scroll">
                                    <div id="div4" class="content">
                                        <ul>
                                            <li>
                                                <div class="messagestop-lt">
                                                    <h6>Joe </h6>
                                                    <p>Adding new layout to desing...</p>
                                                </div>

                                                <div class="messagestop-rt">
                                                    <img src="~/Images/user.jpg">
                                                    <div class="fullmailrply">
                                                        <a href="#"><i class="fa fa-mail-reply" aria-hidden="true"></i></a>
                                                        <span>2 hrs ago</span>
                                                    </div>


                                                </div>
                                            </li>

                                            <li>
                                                <div class="messagestop-lt">
                                                    <h6>Joe </h6>
                                                    <p>Adding new layout to desing...</p>
                                                </div>

                                                <div class="messagestop-rt">
                                                    <img src="~/Images/user.jpg">
                                                    <div class="fullmailrply">
                                                        <a href="#"><i class="fa fa-mail-reply" aria-hidden="true"></i></a>
                                                        <span>2 hrs ago</span>
                                                    </div>


                                                </div>
                                            </li>

                                            <li>
                                                <div class="messagestop-lt">
                                                    <h6>Joe </h6>
                                                    <p>Adding new layout to desing...</p>
                                                </div>

                                                <div class="messagestop-rt">
                                                    <img src="~/Images/user.jpg">
                                                    <div class="fullmailrply">
                                                        <a href="#"><i class="fa fa-mail-reply" aria-hidden="true"></i></a>
                                                        <span>2 hrs ago</span>
                                                    </div>


                                                </div>
                                            </li>

                                            <li>
                                                <div class="messagestop-lt">
                                                    <h6>Joe </h6>
                                                    <p>Adding new layout to desing...</p>
                                                </div>

                                                <div class="messagestop-rt">
                                                    <img src="~/Images/user.jpg">
                                                    <div class="fullmailrply">
                                                        <a href="#"><i class="fa fa-mail-reply" aria-hidden="true"></i></a>
                                                        <span>2 hrs ago</span>
                                                    </div>


                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                    <div id="div5" class="content">
                                        <ul>
                                            <li>
                                                <div class="messagestop-lt">
                                                    <h6>Joe </h6>
                                                    <p>Adding new layout to desing...</p>
                                                </div>

                                                <div class="messagestop-rt">
                                                    <img src="~/Images/user.jpg">
                                                    <div class="fullmailrply">
                                                        <a href="#"><i class="fa fa-mail-reply" aria-hidden="true"></i></a>
                                                        <span>2 hrs ago</span>
                                                    </div>


                                                </div>
                                            </li>

                                            <li>
                                                <div class="messagestop-lt">
                                                    <h6>Joe </h6>
                                                    <p>Adding new layout to desing...</p>
                                                </div>

                                                <div class="messagestop-rt">
                                                    <img src="~/Images/user.jpg">
                                                    <div class="fullmailrply">
                                                        <a href="#"><i class="fa fa-mail-reply" aria-hidden="true"></i></a>
                                                        <span>2 hrs ago</span>
                                                    </div>


                                                </div>
                                            </li>

                                            <li>
                                                <div class="messagestop-lt">
                                                    <h6>Joe </h6>
                                                    <p>Adding new layout to desing...</p>
                                                </div>

                                                <div class="messagestop-rt">
                                                    <img src="~/Images/user.jpg">
                                                    <div class="fullmailrply">
                                                        <a href="#"><i class="fa fa-mail-reply" aria-hidden="true"></i></a>
                                                        <span>2 hrs ago</span>
                                                    </div>


                                                </div>
                                            </li>

                                            <li>
                                                <div class="messagestop-lt">
                                                    <h6>Joe </h6>
                                                    <p>Adding new layout to desing...</p>
                                                </div>

                                                <div class="messagestop-rt">
                                                    <img src="~/Images/user.jpg">
                                                    <div class="fullmailrply">
                                                        <a href="#"><i class="fa fa-mail-reply" aria-hidden="true"></i></a>
                                                        <span>2 hrs ago</span>
                                                    </div>


                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                    <div id="div6" class="content">
                                        <ul>
                                            <li>
                                                <div class="messagestop-lt">
                                                    <h6>Joe </h6>
                                                    <p>Adding new layout to desing...</p>
                                                </div>

                                                <div class="messagestop-rt">
                                                    <img src="~/Images/user.jpg">
                                                    <div class="fullmailrply">
                                                        <a href="#"><i class="fa fa-mail-reply" aria-hidden="true"></i></a>
                                                        <span>2 hrs ago</span>
                                                    </div>


                                                </div>
                                            </li>

                                            <li>
                                                <div class="messagestop-lt">
                                                    <h6>Joe </h6>
                                                    <p>Adding new layout to desing...</p>
                                                </div>

                                                <div class="messagestop-rt">
                                                    <img src="~/Images/user.jpg">
                                                    <div class="fullmailrply">
                                                        <a href="#"><i class="fa fa-mail-reply" aria-hidden="true"></i></a>
                                                        <span>2 hrs ago</span>
                                                    </div>


                                                </div>
                                            </li>

                                            <li>
                                                <div class="messagestop-lt">
                                                    <h6>Joe </h6>
                                                    <p>Adding new layout to desing...</p>
                                                </div>

                                                <div class="messagestop-rt">
                                                    <img src="~/Images/user.jpg">
                                                    <div class="fullmailrply">
                                                        <a href="#"><i class="fa fa-mail-reply" aria-hidden="true"></i></a>
                                                        <span>2 hrs ago</span>
                                                    </div>


                                                </div>
                                            </li>

                                            <li>
                                                <div class="messagestop-lt">
                                                    <h6>Joe </h6>
                                                    <p>Adding new layout to desing...</p>
                                                </div>

                                                <div class="messagestop-rt">
                                                    <img src="~/Images/user.jpg">
                                                    <div class="fullmailrply">
                                                        <a href="#"><i class="fa fa-mail-reply" aria-hidden="true"></i></a>
                                                        <span>2 hrs ago</span>
                                                    </div>


                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                        </div>



                        <div class="dropdown friend-request-dropdown countryflagdrpdwn dropdown">
                            <button id="dLabel" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fa fa-globe" aria-hidden="true"></i>
                                <span>US <i aria-hidden="true" class="fa fa-angle-down"></i></span>
                            </button>
                            <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel" data-dropdown-out="flipOutX" data-dropdown-in="flipInX">

                                <li>
                                    <a href="#">India</a>
                                </li>
                                <li>
                                    <a href="#">Australia</a>
                                </li>
                                <li>
                                    <a href="#">South Africa</a>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="searchbar searchtop">
                        <input type="text" placeholder="Patient Search">
                        <i class="fa fa-search"></i>
                    </div>

                </div>
            </div>
}
        </div>
        </div>

        <div class="clear"></div>
    </header>
    <!--Header Section Ends-->
    <!-- Toggle sidebar start-->
    <div class="main-nav">

        <div class="userprofile-lt leftnav">
            <ul>
                <li class="haschild-submenu" ng-repeat="menu in menus">
                    @*{{ menu.Url }}*@
                    <a href="#" ng-click="showDetails = ! showDetails">
                        <i class="{{ menu.IconClass }}"></i> <b>{{ menu.MenuName }}</b>
                        <font><i ng-show="menu.subMenus.length > 0" class="fa fa-angle-right" aria-hidden="true"></i></font>
                    </a>
                    <ul ng-if="menu.subMenus" ng-show="showDetails">
                        <li ng-repeat="suMenu in menu.subMenus">
                            <a href="{{ suMenu.url }}">{{ suMenu.subMenuName }}</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>

        <div class="userprofile-lt leftnav recentpatient">
            <!--							<div class="searchbar">
                                            <input type="text" placeholder="Client Search">
                                            <i class="fa fa-search"></i>
                                        </div>-->

            <h3>
                <i class="fa fa-medkit"></i> Recent Accessed

                <div class="dropdown recentparent-dropdown">
                    <button id="dLabel" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class=" fa fa-ellipsis-v"></i>
                    </button>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                        <li> <a href="#">Recently DIscharged</a></li>
                        <li> <a href="#">Newly Added</a> </li>
                        <li> <a href="#">Recently Accessed</a></li>
                    </ul>
                </div>


            </h3>

            <ul>
                <li>
                    <img src="~/Images/user.jpg">
                    Ipsum Lorem
                </li>

                <li>
                    <img src="~/Images/user.jpg">
                    Ipsum Lorem
                </li>

                <li>
                    <img src="~/Images/user.jpg">
                    Ipsum Lorem
                </li>

                <li>
                    <img src="~/Images/user.jpg">
                    Ipsum Lorem
                </li>

                <li>
                    <img src="~/Images/user.jpg">
                    Ipsum Lorem
                </li>

                <li>
                    <img src="~/Images/user.jpg">
                    Ipsum Lorem
                </li>
            </ul>
            <div class="showall">
                <a href="#">Show all</a>
            </div>
        </div>


        <div class="visibilityhiden"></div>

    </div>
    <!-- Toggle sidebar end-->
    <!--Wrap Section Starts-->
    <div class="wrap">
        @RenderBody()
    </div>
    <!--Wrap Section Ends-->
    <!--Side Plus icon Section Starts-->
    <div id="advertisement-control" class="quickactiondiv">
        <h4 class="show_hide"><i class="fa fa-plus"></i></h4>

        <div id="advertisemnt-add" class="slidingDiv">
            <ul>
                <!--<li>
                    <a href="#">
                        <p class="esign"><img src="~/Images/e-signature.png"></p> <font>6</font>
                        <span>E-signature</span>
                    </a>
                </li>
                -->

                <li>
                    <a href="#">
                        <p><img src="~/Images/bedstatus2_sidebar.png"></p>
                        <span>E-Signature</span>
                    </a>
                </li>




                <li>
                    <a href="#">
                        <p><img src="~/Images/bedstatus_sidebar.png"></p>
                        <span>Bed Status</span>
                    </a>
                </li>

                <li>
                    <a href="#">
                        <p><img src="~/Images/createschedule_sidebar.png"></p>
                        <span>Create schedule</span>
                    </a>
                </li>

                <li>
                    <a href="#">
                        <p><img src="~/Images/message_sidebar.png"></p>
                        <span>Message</span>
                    </a>
                </li>

                <li>
                    <a href="#">
                        <p><img src="~/Images/addnotes_sidebar.png"></p>
                        <span>Add Notes</span>
                    </a>
                </li>

                <li>
                    <a href="add_patient.html" target="_parent">
                        <p><img src="~/Images/addpatient_sidebar.png"></p>
                        <span>Add Client</span>
                    </a>
                </li>

            </ul>
        </div>
        
    </div>
    <!--Side Plus icon Section Ends-->
    <!--Footer Section Starts-->
    <footer>
        <p>Copyright &copy; Alleva corp 2016</p>
    </footer>
    <!--Footer Section Ends-->
    
</body>
</html>
